@import "bootstrap-sprockets";
@import "bootstrap";
@import "phrases";
@import "notification";
@import "navigation";

.alert{
  color: white;
  margin-top: 20px;
  background-color: red;
}

.alert-notice {
  background-color: green;
}

.alert-danger {
  background-color: red;
}

.field_with_errors{
  color: red;
  input {  border-color: red }
}

.m-t-l { margin-top: 30px }

.table {
  th, td { text-align: center; }
  td {
    vertical-align: middle !important;
    font-size: 15px;
  }
  .upvote{ color: green; }
  .downvote{ color: red }

}

.agreement{
  display: flex;
}

.agree{
  margin-left: 20px;
  font-weight: normal;
}

.input[type="radio"], input[type="checkbox"]{
  margin: 15px 0 0;
}

.numphrase{
  display: flex;
}

.add_space:after {
  background-color: none;
}

.likes{
  display: flex;
}